@{
    Layout = null;
    ViewBag.Title = "NullPage";
}

<script id="NullPageJs" type="text/javascript">

    $(function () {
        var grid = $("#HACCP_ManagementScreenMasterGrid").dxDataGrid("instance");
        var gridData = getGridRowByKey('HACCP_ManagementScreenMasterGrid', grid.option("focusedRowKey"));

        $("#Report_Header_form input[name='MakeDate'").val(gridData.BDate);
        $("#Report_Header_form input[name='make_emp_cd'").val(gridData.EmpCode);

    });

</script>

<div id="no_report_page" autoresize="Y">

    <!--#region 신규 팝업-->
    <div id="MS_EmpPopup"></div>
    <!--#endregion-->

    <div class="row">

        <div id="no_report_page_Header" class="col-12 pb-1">
            <div class="box mb-0">
                <form id="Report_Header_form">

                    <div class="input-wrapper">
                        <label class="col-1">문서명</label>
                        <div class="input-group col-2">
                            <input type="text" class="form-control" name="doc_cd" value="@ViewBag.ReportCode" readonly />
                            <input type="hidden" name="doc_seq" value="@ViewBag.ReportSeq" />
                        </div>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="doc_nm" value="@ViewBag.doc_name" readonly />
                        </div>
                        <label class="col-1">작성일자</label>
                        <div class="input-group col-1">
                            <input type="text" class="form-control input-sm text-center" name="MakeDate" value="" readonly />
                        </div>
                        <label class="col-1">담당자 코드</label>
                        <div class="input-group col-1">
                            <input type="text" class="form-control" name="make_emp_cd" readonly />
                        </div>
                    </div>


                </form>
            </div>
        </div>

        <!--#region 하단 데이터 그리드-->
        <div class="col-12">

            <p>문서 데이터가 존재하지 않습니다.</p>

        </div>
        <!--#endregion-->
    </div>

</div>