
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New GMS</title>
    <link href="~/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />

    <link rel="stylesheet" href="~/Content/css/devextreme/dx.material.aos_stylesheet.css" />

    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @*<link href="~/paper_dashboard/css/themify-icons.css" rel="stylesheet">*@

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css" />

    <script src="~/Scripts/jszip.js"></script>

    <script src="~/Scripts/haccp/vendor.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/Scripts/localization/dx.messages.ko.js"></script>

    <script src="~/Scripts/aspnet/dx.aspnet.data.js"></script>
    <script src="~/Scripts/aspnet/dx.aspnet.mvc.js"></script>

    <script src="~/Scripts/haccp/_Layout.js" defer></script>

    <!--  Forms Validations Plugin -->
    <script src="~/Content/paper_dashboard/js/jquery.validate.min.js"></script>

    <style>
        #wrapper.active #sidebar-wrapper {
            left: 50px;
        }
    </style>

</head>

<body class="dx-theme-background-color">

    <div id="contentDiv">
        @RenderBody()
    </div>

</body>

</html>

<style>
    #contentDiv {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #login {
        width: 30%;
        margin: 0 auto;
    }
</style>