<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="console"/>
      <appender-ref ref="ActionMonitorFile"/>
      <appender-ref ref="ExceptionManagerFile"/>
      <appender-ref ref="fatal_file"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <!--
      appender : ActionMonitor filter용 로그기록
      date : 2020-11-11
      history 
      ***********************************************************************************
      mdate       | comment
      ***********************************************************************************
      2020-12-11  | 배포시 log폴더 처리 이슈가 있어, webroot이외의 폴더로 이동함      
    -->
    <appender name="ActionMonitorFile" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Log\Monitor\ActionLog" />-->
      <file value="C:\tascorp\Log\HACCP_AOS\Monitor\ActionLog" />
      <appendToFile value="true" />
      <datepattern value="_yyyyMMdd'.log'"/>      
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <!--
      appender : ExceptionMonitor filter용 로그기록
      date : 2020-11-12
      history 
      ***********************************************************************************
      mdate       | comment
      ***********************************************************************************
      2020-12-11  | 배포시 log폴더 처리 이슈가 있어, webroot이외의 폴더로 이동함      
    -->
    <appender name="ExceptionManagerFile" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Log\Exception\ExceptionLog" />-->
      <file value="C:\tascorp\Log\HACCP_AOS\Exception\ExceptionLog" />      
      <appendToFile value="true" />
      <datepattern value="_yyyyMMdd'.log'"/>
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <!--
    history
    ***********************************************************************************
    mdate       | comment
    ***********************************************************************************
    2020-12-11  | 배포시 log폴더 처리 이슈가 있어, webroot이외의 폴더로 이동함
    -->
    <appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Log\Fatal\fatal.log" />-->
      <file value="C:\tascorp\Log\HACCP_AOS\Fatal\fatal.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <!--<logger name="MonitoringFile">
      <level value="ALL" />
      <appender-ref ref="Database" />
    </logger>-->    
  </log4net>
</configuration>