
@{
    ViewBag.Title = "EmployeeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="~/Scripts/EmployeeReports/EmployeeReport.js"></script>

<h2>Employee Report</h2>


<div>
    <button class="btn btn-info" id="btnLoadReport">Load Report</button>
</div>
