@{
    Layout = null;
    ViewBag.Title = "NullPage";
}

<script id="NullPageJs" type="text/javascript">

</script>

<div id="imHaccp_GMPTKF-HAP-101-02_Item" autoresize="Y">

    <!--#region 신규 팝업-->
    <div id="MS_EmpPopup"></div>
    <!--#endregion-->

    <div class="row">

        <div id="GMPTKF-HAP-101-02_Header" class="col-12 pb-1">
            <div class="box mb-0">
                <form id="GMPTKF-HAP-101-02_Header_form">

                    <div class="input-wrapper">
                        <label class="col-1">문서명</label>
                        <div class="input-group col-2">
                            <input type="text" class="form-control" name="HACCPCode" value="@ViewBag.HaccpCode" readonly />
                        </div>
                        <div class="input-group col-3">
                            <input type="text" class="form-control" name="HACCPText" value="@ViewBag.doc_name" readonly />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-1">작성일자</label>
                        <div class="input-group col-2">
                            <input type="text" class="form-control input-sm datepicker text-center required" name="MakeDate" value="@DateTime.Today.ToShortDateString()" />
                        </div>

                        <label class="col-1">담당자</label>
                        <div class="input-group col-2">
                            <input type="text" class="form-control required" name="make_emp_cd" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" name="empBtn" onclick="searchEmpBtn()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" name="make_emp_nm" />
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!--#region 하단 데이터 그리드-->
        <div class="col-12">

            <p>CCP가 존재하지 않습니다.</p>

        </div>
        <!--#endregion-->
    </div>

</div>