
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Reports/Report.js"></script>

<div class="jumbotron">Crystal Report in ASP.Net MVC</div>

<div>
    <button class="btn btn-info" id="btnLoadReport">Load Report 123</button>
</div>