@using log4net

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Fail";
}

<div id="login_fail">
    <h1>Fail</h1>

    <h3 class="text-danger">등록된 ID, PW가 없습니다</h3>
    <h3 class="text-danger">다시 한번 확인해주세요.</h3>
</div>