@{
    Layout = null;
}

<div id=@Model.Child_cd>
    <h3>' @Model.Child_nm ' 페이지가 존재하지 않습니다.</h3>

    <form id="@Model.Child_cd">
        <input type="text" onchange="formEdited()" />
        <input type="text" onchange="formEdited()" />
        <input type="text" onchange="formEdited()" />

        <button type="button" onclick="complete()">전송</button>
    </form>

</div>