@model HACCP.Models.RowMatWh.MaterialReserveQtyList
@using System.Data
@{
    Layout = null;
    ViewData["Title"] = "MaterialReserveQtyList_M";
}
@{
    var MaterialReserveQtyList_MData = @Html.Raw(Json.Encode(ViewBag.MaterialReserveQtyList_MData.Data));
    var MaterialReserveQtyList_MAuth = @Html.Raw(Json.Encode(ViewBag.MaterialReserveQtyList_MAuth.Data));
}

<script id="MaterialReserveQtyList_MJs " type="text/javascript">
    //SP 구문, gubun 변수
    var qtyGubun = "";
    var _MaterialReserveQtyList_MAuth;
    var MaterialReserveQtyList_MData = @MaterialReserveQtyList_MData;

    $(function () {
        if (MaterialReserveQtyList_MData.length <= 0) {
            $("#MaterialReserveQtyList_MGrid").dxDataGrid("instance").option("dataSource", []);
            $("#MaterialReserveQtyList_MGrid").dxDataGrid("instance").option("focusedRowEnabled", false);
        } else {
            $("#MaterialReserveQtyList_MGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@MaterialReserveQtyList_MData));
            $("#MaterialReserveQtyList_MGrid").dxDataGrid("instance").option("focusedRowEnabled", true);
            $("#MaterialReserveQtyList_MGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
        }

        //사용자 권한
        _MaterialReserveQtyList_MAuth = JSON.parse(@MaterialReserveQtyList_MAuth)[0];

    });

    //상단 그리드 선택 변경 시, 하단 그리드 이벤트 처리
    function MaterialReserveQtyList_MFocus_changed() {
        var gridData = $("#MaterialReserveQtyList_MGrid").dxDataGrid("instance").option("focusedRowKey");

        $.ajax({
            type: 'POST',
            url: '/RowMatWh/MaterialReserveQtyListSelect_S2',
            data: {
                item_cd: gridData,
                option: "3"
            },
            success: function (result) {
                if (result.length <= 0) {
                    $("#MaterialReserveQtyList_MDetailGrid").dxDataGrid("instance").option("dataSource", []);
                    $("#MaterialReserveQtyList_MDetailGrid").dxDataGrid("instance").option("focusedRowEnabled", false);

                    return;
                }

                if (JSON.parse(result).sessionLoss) {
                    alert("세션이 만료되었습니다.");
                    sessionStorage.clear();
                    location.replace("/Comm/Login");
                }

                $("#MaterialReserveQtyList_MDetailGrid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                $("#MaterialReserveQtyList_MDetailGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
            }
        });
    }

</script>

<div id="MaterialReserveQtyList_M" autoresize="Y">
    @*<h4 class="divTitle">원료 예약량 조회</h4>*@

    <div class="row">
        <!--상단 그리드-->
        <div class="col-12 pb-1">
            <div id="MaterialReserveQtyList_MMain" class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                    .ID("MaterialReserveQtyList_MGrid")
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .HoverStateEnabled(true)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .KeyExpr("item_cd")
                    .Height(500)
                    .Columns(c =>
                    {
                        c.Add().DataField("item_cd").Caption("원료코드");
                        c.Add().DataField("item_nm").Caption("원료명");
                        c.Add().DataField("receipt_qty_unit").Caption("단위").Width(100);
                        c.Add().DataField("stock_qty").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                        c.Add().DataField("reserve_qty").Caption("예약량").Format("#,##0").DataType(GridColumnDataType.Number);
                    })
                    .OnFocusedRowChanged("MaterialReserveQtyList_MFocus_changed")
                )
            </div>
        </div>

        <!--하단 그리드-->
        <div class="col-12">

            <div id="MaterialReserveQtyList_MDetail" class="box mb-0">
                <div class="divName">
                    <p>원료 지시 목록</p>
                </div>
                @(Html.DevExtreme().DataGrid()
                    .ID("MaterialReserveQtyList_MDetailGrid")
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(false))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .HoverStateEnabled(true)
                    .ShowColumnLines(true)
                    .ColumnAutoWidth(true)
                    .AllowColumnResizing(true)
                    .KeyExpr("order_no")
                    .Height(900)
                    .Columns(c =>
                    {
                        c.Add().DataField("order_no").Caption("제조지시코드");
                        c.Add().DataField("order_date").Caption("제조일자");
                        c.Add().DataField("item_cd").Caption("품목코드");
                        c.Add().DataField("item_nm").Caption("품목명");
                        c.Add().DataField("lot_no").Caption("제조번호");
                        c.Add().DataField("qc_no").Caption("시험번호");
                        c.Add().DataField("order_qty").Caption("지시수량").Format("#,##0").DataType(GridColumnDataType.Number);
                    })
                .Summary(s => s.TotalItems(items =>
                {
                    /* 지시수량 */
                    items.Add()
                    .Name("SelectedRowsSummary")
                    .Column("order_qty")
                            .ShowInColumn("order_qty")
                            .ValueFormat("#,##0")
                            .SummaryType(SummaryType.Sum)
                            .DisplayFormat("[{0}]");
                }))

                )
            </div>
        </div>

    </div>

</div>
