@model HACCP.Models.RowMatWh.PickingOrder
@{
    Layout = null;
    ViewData["Title"] = "PickingOrder";
    string sData = ViewData["data"] as String;
}
@{ 
    var PickingOrderData = @Html.Raw(Json.Encode(ViewBag.PickingOrderData.Data));
    var PickingOrderAuth = @Html.Raw(Json.Encode(ViewBag.PickingOrderAuth.Data));
}

<script id="PickingOrderJs" type="text/javascript">

    var PickingOrderData = @PickingOrderData;

    $(function () {
        if (PickingOrderData.length <= 0) {
            $("#PickingOrderGrid").dxDataGrid("instance").option("dataSource", []);
            $("#PickingOrderGrid").dxDataGrid("instance").option("focusedRowEnabled", false);
        } else {
            $("#PickingOrderGrid").dxDataGrid("instance").option("dataSource", JSON.parse(@PickingOrderData));
            $("#PickingOrderGrid").dxDataGrid("instance").option("focusedRowEnabled", false);
            $("#PickingOrderGrid").dxDataGrid("instance").option("focusedRowIndex", 0);
        }
    })

</script>


<div id="PickingOrder" autoresize="Y">
    @*<h4 class="divTitle">원료별 PickingOrder 조회</h4>*@

    <div class="row">
        <div class="col-12">
            <div id="PickingOrder_Main" class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                .ID("PickingOrderGrid")
                .ShowBorders(true)
                .ShowColumnLines(true)
                .ShowRowLines(true)
                .ColumnAutoWidth(true)
                .AllowColumnResizing(true)
                .FocusedRowEnabled(false)            
                .SearchPanel(searchPanel => searchPanel.Visible(true))
                .Selection(s => s.Mode(SelectionMode.Single))
                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                .HoverStateEnabled(false)
                .Height(900)
                .Columns(c =>
                {
                    c.Add().DataField("item_cd").Caption("원료코드").GroupIndex(0);
                    c.Add().DataField("item_nm").Caption("원료명").GroupIndex(0);
                    c.Add().DataField("item_unit").Caption("단위").Width(50);
                    c.Add().DataField("qc_no").Caption("시험번호");
                    c.Add().DataField("order_qty").Caption("불출지시량").Format("#,##0").DataType(GridColumnDataType.Number);
                    c.Add().DataField("cell_nm").Caption("위치");
                    c.Add().DataField("receipt_pack_remain_qty").Caption("재고량").Format("#,##0").DataType(GridColumnDataType.Number);
                })
                )
            </div>
        </div>
    </div>

</div>