@model HACCP.Models.LocMng.CustomCustReg2
@using System.Data
@using HACCP.Libs.Views;

@{
    Layout = null;
    ViewData["Title"] = "CustomCustReg2";
    string sData = ViewData["data"] as String;

    var custListJson = @Html.Raw(Json.Encode(ViewBag.custPopupList.Data));
}

@{
    var CustomCustReg2Data = @Html.Raw(Json.Encode(ViewBag.CustomCustReg2.Data));
    var CustomCustReg2Auth = @Html.Raw(Json.Encode(ViewBag.CustomCustReg2Auth.Data));
}
@{
    string[] CR_gridKey = { "cust_cd", "custIn_cd" };
}

<script id="CustomCustReg2Js" type="text/javascript">
    //SP 구문, gubun 변수
    var Reg2Gubun = "";
    var _CustomCustReg2Auth;
    var CustomCustReg2Data = @CustomCustReg2Data;
    var custListJson = @custListJson;

        $(function () {

            if (CustomCustReg2Data.length <= 0) {
                $("#CustomCustReg2Grid").dxDataGrid("instance").option("dataSource", []);
                $("#CustomCustReg2Grid").dxDataGrid("instance").option("focusedRowEnabled", false);
            } else {
                $("#CustomCustReg2Grid").dxDataGrid("instance").option("dataSource", JSON.parse(@CustomCustReg2Data));
                $("#CustomCustReg2Grid").dxDataGrid("instance").option("focusedRowEnabled", true);
                $("#CustomCustReg2Grid").dxDataGrid("instance").option("focusedRowIndex", 0);
            }


            //수정중 체크
            Reg_EditCheck(false);

            //사용자 권한
            _CustomCustReg2Auth = JSON.parse(@CustomCustReg2Auth)[0];

            if (_CustomCustReg2Auth.form_query != "Y") {
                $("#CustomCustReg2Search").remove();
            }
            if (_CustomCustReg2Auth.form_insert != "Y") {
                $("#CustomCustReg2Input").remove();
            }
            if (_CustomCustReg2Auth.form_edit != "Y") {
                $("#CustomCustReg2Edit").remove();
            }
            if (_CustomCustReg2Auth.form_delete != "Y") {
                $("#CustomCustReg2Delete").remove();
            }

            var cs = @custListJson;

            var columns = [
                { dataField: "vender_cd", caption: "거래처코드" },
                { dataField: "vender_nm", caption: "거래처명" }
            ];


            createPopup("CustomCustReg2", "거래처 조회", cs, columns, "vender_cd");
            createPopup("CustomCustReg2In", "거래처 조회", cs, columns, "vender_cd");

        });

        //거래처 팝업
        function searchCustRegBtn() {
            if ((Reg2Gubun == "U")) {
                alert("거래처 정보는 수정할 수 없습니다.");
                return;
            }

            var popup = $("#CustomCustReg2Popup").dxPopup("instance");
            popup.show();
        }

        //거래처 팝업 row 더블클릭
        function CustomCustReg2RowDblClick(selectedItems) {

            $("#CustomCustReg2RightForm input[name=cust_cd]").val(selectedItems.data.vender_cd);
            $("#CustomCustReg2RightForm input[name=cust_nm]").val(selectedItems.data.vender_nm);
            $("#CustomCustReg2RightForm input[name=cust_busin_no]").val(selectedItems.data.license);
            $("#CustomCustReg2RightForm input[name=cust_ceo_nm]").val(selectedItems.data.owner_nm);
            $("#CustomCustReg2RightForm input[name=cust_tel_no]").val(selectedItems.data.phone);
            $("#CustomCustReg2RightForm input[name=cust_post_cd]").val(selectedItems.data.zipcode);
            $("#CustomCustReg2RightForm input[name=cust_ad1]").val(selectedItems.data.address);

            var popup = $("#CustomCustReg2Popup").dxPopup("instance");
            popup.hide();
        }

        //간납처 팝업
        function searchCustRegInBtn() {
            if ((Reg2Gubun == "U")) {
                alert("간납처 정보는 수정할 수 없습니다.");
                return;
            }

            var popup = $("#CustomCustReg2InPopup").dxPopup("instance");
            popup.show();
        }

        //간납처 팝업 row 더블클릭
        function CustomCustReg2InRowDblClick(selectedItems) {
            $("#CustomCustReg2RightForm input[name=custIn_cd]").val(selectedItems.data.vender_cd);
            $("#CustomCustReg2RightForm input[name=custIn_nm]").val(selectedItems.data.vender_nm);
            $("#CustomCustReg2RightForm input[name=custIn_busin_no]").val(selectedItems.data.license);
            $("#CustomCustReg2RightForm input[name=custIn_ceo_nm]").val(selectedItems.data.owner_nm);
            $("#CustomCustReg2RightForm input[name=custIn_tel_no]").val(selectedItems.data.phone);
            $("#CustomCustReg2RightForm input[name=custIn_post_cd]").val(selectedItems.data.zipcode);
            $("#CustomCustReg2RightForm input[name=custIn_ad1]").val(selectedItems.data.address);

            var popup = $("#CustomCustReg2InPopup").dxPopup("instance");
            popup.hide();
        }

        //수정중인지 체크
        function Reg_EditCheck(nowEdit) {
            $("#CustomCustReg2RightForm input[name=cust_cd]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=cust_nm]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=cust_busin_no]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=cust_ceo_nm]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=cust_tel_no]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=cust_post_cd]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=cust_ad1]").attr("readonly", true);

            $("#CustomCustReg2RightForm input[name=custIn_cd]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=custIn_nm]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=custIn_busin_no]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=custIn_ceo_nm]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=custIn_tel_no]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=custIn_post_cd]").attr("readonly", true);
            $("#CustomCustReg2RightForm input[name=custIn_ad1]").attr("readonly", true);

            if (nowEdit) {
                $("#CustomCustReg2Save").dxButton().parent().parent().removeClass("display-none");
                $("#CustomCustReg2Undo").dxButton().parent().parent().removeClass("display-none");
                $("#CustomCustReg2Search").dxButton().parent().parent().addClass("display-none");
                $("#CustomCustReg2Input").dxButton().parent().parent().addClass("display-none");
                $("#CustomCustReg2Edit").dxButton().parent().parent().addClass("display-none");
                $("#CustomCustReg2Delete").dxButton().parent().parent().addClass("display-none");
                $("#CustomCustReg2Excel").dxButton().parent().parent().addClass("display-none");

                $("#CustomCustReg2RightMain :disabled").attr('disabled', false);
                $("#CustomCustReg2Grid").dxDataGrid("option", "disabled", true);
            }
            if (!nowEdit) {
                $("#CustomCustReg2Save").dxButton().parent().parent().addClass("display-none");
                $("#CustomCustReg2Undo").dxButton().parent().parent().addClass("display-none");
                $("#CustomCustReg2Search").dxButton().parent().parent().removeClass("display-none");
                $("#CustomCustReg2Input").dxButton().parent().parent().removeClass("display-none");
                $("#CustomCustReg2Edit").dxButton().parent().parent().removeClass("display-none");
                $("#CustomCustReg2Delete").dxButton().parent().parent().removeClass("display-none");
                $("#CustomCustReg2Excel").dxButton().parent().parent().removeClass("display-none");

                $("#CustomCustReg2RightMain :enabled").attr('disabled', true);
                $("#CustomCustReg2Grid").dxDataGrid("option", "disabled", false);
            }
        }

        ////좌측 그리드 선택 변경 시, 이벤트 처리
        function CustomCustReg2Focus_changed(e) {
            if (!e.row.data) {
                return;
            }
            CR_fillData(e.row.data);
        }

        ////우측 폼 데이터 채우기
        function CR_fillData(data) {

            $("#CustomCustReg2RightForm input[name=cust_cd]").val(data.cust_cd);
            $("#CustomCustReg2RightForm input[name=cust_nm]").val(data.cust_nm);
            $("#CustomCustReg2RightForm input[name=cust_busin_no]").val(data.cust_busin_no);

            $("#CustomCustReg2RightForm input[name=cust_ceo_nm]").val(data.cust_ceo_nm);
            $("#CustomCustReg2RightForm input[name=cust_tel_no]").val(data.cust_tel_no);
            $("#CustomCustReg2RightForm input[name=cust_post_cd]").val(data.cust_post_cd);
            $("#CustomCustReg2RightForm input[name=cust_ad1]").val(data.cust_ad1);

            $("#CustomCustReg2RightForm input[name=custIn_cd]").val(data.custIn_cd);
            $("#CustomCustReg2RightForm input[name=custIn_nm]").val(data.custIn_nm);
            $("#CustomCustReg2RightForm input[name=custIn_busin_no]").val(data.custIn_busin_no);

            $("#CustomCustReg2RightForm input[name=custIn_ceo_nm]").val(data.custIn_ceo_nm);
            $("#CustomCustReg2RightForm input[name=custIn_tel_no]").val(data.custIn_tel_no);
            $("#CustomCustReg2RightForm input[name=custIn_post_cd]").val(data.custIn_post_cd);
            $("#CustomCustReg2RightForm input[name=custIn_ad1]").val(data.custIn_ad1);

            $("#CustomCustReg2RightForm textarea[name=custIn_remark]").val(data.custIn_remark);

        }

        //조회버튼
        function CustomCustReg2Search() {

            Reg2Gubun = "S";

            $.ajax({
                type: 'POST',
                url: '/LocMng/CustomCustReg2Select',
                data: {
                    s_cust_cd: "",
                },
                success: function (result) {

                    if (result.length <= 0) {

                        $("#CustomCustReg2Grid").dxDataGrid("instance").option("dataSource", []);
                        $("#CustomCustReg2Grid").dxDataGrid("instance").option("focusedRowEnabled", false);

                        $("#CustomCustReg2RightForm")[0].reset();
                        return;
                    }

                    var json = JSON.parse(result);

                    if (json.hasOwnProperty('sessionLoss')) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();
                        location.replace("/Comm/Login");
                    }

                    $("#CustomCustReg2Grid").dxDataGrid("instance").option("dataSource", JSON.parse(result));
                    $("#CustomCustReg2Grid").dxDataGrid("instance").option("focusedRowEnabled", true);
                    $("#CustomCustReg2Grid").dxDataGrid("instance").option("focusedRowIndex", 0);
                }
            });
        }

        //입력
        function CustomCustReg2Input() {
            Reg_EditCheck(true);

            $("#CustomCustReg2RightForm")[0].reset();

            Reg2Gubun = "I";
        }

        //수정
        function CustomCustReg2Edit() {
            Reg_EditCheck(true);

            var grid = $("#CustomCustReg2Grid").dxDataGrid("instance");

            if (grid.totalCount() <= 0) {
                alert("수정할 항목이 존재하지 않습니다.");                
                CustomCustReg2Undo();
                return;
            }

            Reg2Gubun = "U";            

        }

        //취소
        function CustomCustReg2Undo() {
            Reg_EditCheck(false);

            Reg2Gubun = "";
            CustomCustReg2Search();
        }

        //저장
        function CustomCustReg2Save() {
            var formData = new FormData($("#CustomCustReg2RightForm")[0]);

            formData.set("gubun", Reg2Gubun);


            var formID = "CustomCustReg2RightForm";
            var cols = [
                { name: "cust_cd", text: "거래처", type: "input" },
                { name: "custIn_cd", text: "간납처", type: "input" }
            ];
            var isValid = validationCk(formID, cols);

            if (!isValid) {
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/LocMng/CustomCustReg2CRUD',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    var json = JSON.parse(result);

                    if (JSON.parse(result).sessionLoss) {
                        alert("세션이 만료되었습니다.");
                        sessionStorage.clear();

                        location.replace("/Comm/Login");
                    }

                    //alert(json.message);
                    alert("저장되었습니다.");

                    Reg_EditCheck(false);
                    Reg2Gubun = "";
                    CustomCustReg2Search();
                }
            })
        }

        //삭제
        function CustomCustReg2Delete() {

            // 삭제 여부 팝업
            if (confirm("정말 삭제하시겠습니까??") === true) {

                // 그리드 객체를 가져온다
                var grid = $("#CustomCustReg2Grid").dxDataGrid("instance");
                // 그리드에 포커스 된 로우의 키를 통해서 해당 데이터를 가져온다.
                var data = getGridRowByKey('CustomCustReg2Grid', grid.option("focusedRowKey"));

                Reg2Gubun = "D";

                $.ajax({
                    type: 'POST',
                    url: '/LocMng/CustomCustReg2CRUD',
                    data: {
                        plant_cd: data.plant_cd,
                        cust_cd: data.cust_cd,
                        custIn_cd: data.custIn_cd,
                        gubun: Reg2Gubun
                    },
                    success: function (result) {

                        var json = JSON.parse(result);

                        if (json.hasOwnProperty('sessionLoss')) {
                            alert("세션이 만료되었습니다.");
                            sessionStorage.clear();
                            location.replace("/Comm/Login");
                        }

                        alert(json.messege);

                        Reg_EditCheck(false);
                        Reg2Gubun = "";
                        CustomCustReg2Search();

                    }
                })

            } else {   //취소

                return;

            }
        }

        //Excel
        function CustomCustReg2Excel() {
            gridExportToExcel("CustomCustReg2Grid", "CustomCustReg2Data");
        }

</script>

<div id="CustomCustReg2" autoresize="Y">

    <div id="CustomCustReg2Popup"></div>
    <div id="CustomCustReg2InPopup"></div>

    @*<h4 class="divTitle">간납처 등록</h4>*@

    <div class="mainTop row">
        <div class="CRUD-btn col-12">
            @{ Html.SetToolbar(0, true, "Input;Edit;Delete;Save;Undo;Excel");}
        </div>
    </div>

    <div class="row">
        <!-- 좌측 그리드 -->
        <div class="col-8 pr-0">
            <div id="CustomCustReg2LeftMain" class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                    .ID("CustomCustReg2Grid")
                    .ShowBorders(true)
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .ShowColumnLines(true)
                    .HoverStateEnabled(true)                    
                    .KeyExpr(CR_gridKey)
                    .Height(900)
                    .Columns(c =>
                    {
                        c.Add().DataField("cust_cd").Caption("거래처코드");
                        c.Add().DataField("cust_nm").Caption("거래처명");
                        c.Add().DataField("custIn_cd").Caption("간납처코드");
                        c.Add().DataField("custIn_nm").Caption("간납처명");
                    })
                    .OnFocusedRowChanged("CustomCustReg2Focus_changed")
                )
            </div>
        </div>

        <!-- 우측 그리드 -->
        <div id="CustomCustReg2RightMain" class="col-4 pl-1">

            <div class="box mb-0">

                <form id="CustomCustReg2RightForm">
                    <div class="divName">
                        <p>거래처 정보</p>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">거래처<star>*</star></label>
                        <div class="input-group col-4">
                            <input type="text" id="cust_cd" class="form-control required" name="cust_cd" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" name="searchBtn" onclick="searchCustRegBtn()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="cust_nm" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">사업자등록번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="cust_busin_no" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">대표자명</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="cust_ceo_nm" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">전화번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="cust_tel_no" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">우편번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="cust_post_cd" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">주  소 1</label>
                        <div class="input-group col-6">
                            <input type="text" class="form-control" name="cust_ad1" />
                        </div>
                    </div>

                    <div class="divName">
                        <p>간납처 정보</p>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">간납처<star>*</star></label>
                        <div class="input-group col-4">
                            <input type="text" id="custIn_cd" class="form-control required" name="custIn_cd" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" name="searchBtnIn" onclick="searchCustRegInBtn()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="custIn_nm" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">사업자등록번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="custIn_busin_no" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">대표자명</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="custIn_ceo_nm" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">전화번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="custIn_tel_no" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">우편번호</label>
                        <div class="input-group col-4">
                            <input type="text" class="form-control" name="custIn_post_cd" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">주  소 1</label>
                        <div class="input-group col-6">
                            <input type="text" class="form-control" name="custIn_ad1" />
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <label class="col-3">비  고</label>
                        <div class="input-group col-6">
                            <textarea rows="3" class="form-control" name="custIn_remark"></textarea>
                        </div>
                    </div>

                </form>

            </div>
        </div>


    </div>


</div>