@using HACCP.Libs.Views;
@{
    Layout = null;
    ViewBag.Title = "Order_CCPPrint";
}
@{
    @*var CCPHeaderData = @Html.Raw(Json.Encode(ViewBag.CCPHeaderData.Data));*@
    var Order_CCPPrintAuth = @Html.Raw(Json.Encode(ViewBag.Order_CCPPrintAuth.Data));
}

<script id="Order_CCPPrintJs" type="text/javascript">

    //조회
    function Order_CCPPrintSearch() {
        var formData = new FormData($("#CCPHeader_form")[0]);

        //$.ajax({
        //    type: 'POST',
        //    url: '/ProductionManage/getCCP',
        //    data: formData,
        //    contentType: false,
        //    processData: false,
        //    success: function (result) {
        //        if (result.length <= 0) {
        //            $("#Order_CCPPrintGrid").dxDataGrid("instance").option("focusedRowKey", "");
        //        }
        //    }
        //});
    }

    //인쇄
    function Order_CCPPrintPrint() {

    }

    //미리보기
    async function Order_CCPPrintPreview() {
        //var reportParam = '@@work_fdate:2020-01-01;@@work_tdate:2020-11-01;@@item_cd:;@@s_gubun:M';
        //var subParam = 'item_nm2=테스트 중!@@!!!';

        //var params = {
        //    RptFileName: "PickingList",
        //    SpName: "SP_PickingList_H",
        //    gubun: "RPT",
        //    reportParam: reportParam,
        //    subParam: subParam
        //}

        //var reportParam = '@@order_no:P2000253;'
        //var subParam = 'order_no=테스트 중!@@!!!';

        //var params = {
        //    RptFileName: "Weighing_Report",
        //    SpName: "SP_Workorder_Workorder",
        //    gubun: "WeighingReport",
        //    reportParam: reportParam,
        //    subParam: subParam
        //}
        var params = {
            path: "test",
            RptFileName: "Testing2"
        }

        var paramArry = new Array();
        paramArry[0] = params;

        for (var i = 0; i < paramArry.length; i++) {
            console.log(paramArry[i]);

            await executePreview(paramArry[i]);

        }
    }

    function executePreview(data) {

        jQuery.ajax({
            url: "/Report/ViewReport",
            type: "GET",
            data: data,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (result) {

                window.open('../Report/ReportViewer.aspx?name=' + data.RptFileName, data.RptFileName);
            },
            error: function () {
                alert("Found Error");
            }
        });
    }

</script>

<div id="Order_CCPPrint" autoresize="Y">
    <div class="mainTop row">

        <div class="col-8">
            <form id="CCPHeader_form">
                <div class="input-wrapper">
                    <div class="col-5 input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">작업지시번호</span>
                        </div>
                        <input type="text" class="form-control" name="CCP_order_no" />
                    </div>
                </div>
            </form>
        </div>

        <div class="CRUD-btn col-4">
            @{ Html.SetToolbar(0, true, "Search;Print;Preview");}
        </div>

    </div>

    <div class="row">
        <div class="col-12">

            <div id="Order_CCPPrintMain" class="box mb-0">
                @(Html.DevExtreme().DataGrid()
                    .ID("Order_CCPPrintGrid")
                    .ShowBorders(true)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual).ShowScrollbar(ShowScrollbarMode.Always))
                    .Height(900)
                    .HoverStateEnabled(true)
                    .ShowColumnLines(true)
                    .Columns(c =>
                    {
                        c.Add().DataField("").Caption("문서코드");
                        c.Add().DataField("").Caption("문서명");
                        c.Add().DataField("").Caption("담당자코드");
                        c.Add().DataField("").Caption("작성일").Format("yyyy-MM-dd").DataType(GridColumnDataType.Date);
                        c.Add().DataField("").Caption("revision");

                    })
                )
            </div>
        </div>
    </div>
</div>
