
@{
    Layout = null;
    ViewData["Title"] = "EmpBarcode";
}

<div id="EmpBarcode">

    <h4 class="divTitle">사원 바코드</h4>

    <div class="mainTop">

        <div class="input-wrapper">

            <form id="empBarcodeSearchForm">
                <label class="col-1">부서</label>
                <div class="input-group col-2">
                    <input type="text" class="form-control" name="dept_cd" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="">찾기</button>
                    </div>
                </div>

                <label class="col-1">사원</label>
                <div class="input-group col-2">
                    <input type="text" class="form-control" name="emp_cd" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="">찾기</button>
                    </div>
                </div>

                <label class="col-1">사용여부</label>
                <div class="col-3 display-inline">
                    <div class="radioDiv required">
                        <label><input type="radio" name="use_yn" value="%" checked onclick="" />전체  </label>
                        <label><input type="radio" name="use_yn" value="Y" onclick="" />예 </label>
                        <label><input type="radio" name="use_yn" value="N" onclick="" />아니오 </label>
                    </div>
                </div>
            </form>

        </div>

    </div>

    <div class="row">

        <div class="col-8">

            <div class="box">

                @(Html.DevExtreme().DataGrid()
                    .ID("EmpBarcodeGrid")
                    .Selection(s => s.Mode(SelectionMode.Multiple))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
                    .ColumnAutoWidth(true)
                    .HoverStateEnabled(true)
                    .AllowColumnResizing(true)
                    .Height(650)
                    .KeyExpr("emp_cd")
                    //.OnFocusedRowChanged("EmployeeSelectEmployee")
                    .Columns(c =>
                    {
                        c.Add().DataField("dept_cd").Caption("부서코드");
                        c.Add().DataField("dept_nm").Caption("부서명");
                        c.Add().DataField("emp_cd").Caption("사원코드");
                        c.Add().DataField("emp_nm").Caption("사원명");
                        c.Add().DataField("emp_nm").Caption("바코드");
                        c.Add().DataField("use_yn").Caption("사용여부")
                            .DataType(GridColumnDataType.Boolean)
                            .CalculateCellValue(@"function(rowData) { return (rowData.use_yn == ""Y"" || rowData.use_yn == true); }");

                    })
                    .ShowBorders(true)
                )
            </div>

        </div>

    </div>
</div>