
/*@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKr/NotoSansCJKkr-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/NotoSansKr/NotoSansCJKkr-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSansKr/NotoSansCJKkr-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/NotoSansKr/NotoSansCJKkr-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSansKr/NotoSansCJKkr-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/NotoSansKr/NotoSansCJKkr-Black.otf) format('opentype');
}*/


body {
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.display-none{
    display:none;
}

.dx-drawer-content {
    background: #f4f3ef;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-19  padding 수정 =>  (기존)25px -> (변경)2px)
    2020-12-15  padding 수정 =>  (기존)0px -> (변경)padding-left:10px; padding-left:10px)
    2020-12-22  padding 수정 =>  (기존)10px -> (변경)5px
*/
#contentDiv {
    padding-left:5px;
    padding-right:5px;
}

.dx-toolbar .dx-toolbar-items-container {
    background: white;
}

.dx-toolbar .dx-toolbar-before {
    padding-left: 15px;
}

.card-login .card-header .card-title {
    text-align: left;
    padding-left: 15px;
}
.card .card-header {
    background: white;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22  form입력 높이 수정 그리드의 데이터행과 높이일치시킴(height) =>  (기존)30px -> (변경)23px)
    */
.form-control {
    display: inline;
    height: 23px;
    border-radius: 0.15rem;
    padding: 0 0.375rem;
    font-size: inherit;
}

#MessageInfoRightMain {
    display: table;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-19  marggin-bottom 수정 =>  (기존)10px -> (변경)0px)
*/
.input-wrapper {
    margin-bottom: 0px;
}

.control-label{
    text-align:right;
}

#element::-webkit-scrollbar {
    display: none;
}

.radioDiv {
    display: inline;
    padding-top: 3px;
    border: solid 1px lightgrey;
    padding: 3px 10px;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6 !important;
    background: #f5f7f9;
    padding-left: 10px;
    font-weight: 600;
    color:#888888;
}

.menuDiv {
    margin-top: 20px;
    margin-bottom: 30px;
}

#checkResText{
    margin-left:5px;
}

#MaterialMaster2Toolbar > div {
    background-color: #f4f3ef !important;
    height: 100%;
}

#MenuManage_Toolbar > div {
    background-color: #f4f3ef !important;
    height: 100%;
}

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-pager {
    background: white;
}

.divTitle {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.box {
    border: solid 1px #bbbbbb;
    background: white;
    height: 100%;
    box-shadow: 0px 0px 10px #bbbbbb;
    margin-bottom:15px;
}

.box-height-auto {
    border: solid 1px #bbbbbb;
    background: white;
    box-shadow: 0px 0px 10px #bbbbbb;
    margin-bottom: 15px;
}

.SignSet_InputDetailBox {
    border: solid 1px #bbbbbb;
    box-shadow: 0px 0px 10px #bbbbbb;
    margin-bottom: 15px
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22  폼영역 title바 수정(font-size, background, padding-top, padding-bottom)  => (기존)large, #f5f7f9, 12,12 -> (변경)medium, #e8eaf3, 7,7
 */
.divName {
    font-size: medium;
    font-weight: 600;
    color: #2a68d4;
    padding-top: 7px;
    padding-left: 25px;
    padding-bottom: 7px;
    background: #e8eaf3;
    border-bottom: solid 1px #dadad7;
}

.dx-widget {
    font-family: 'Noto Sans KR' !important;
}

.dx-datagrid-headers{
    background: #f5f7f9;
}

.dx-datagrid-rowsview {
    background: white;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #2a68d4;
    background-color: #f5f7f9;
    font-weight: 600;
    border-color: #f5f7f9 #f5f7f9 #fff;
    border-bottom: solid;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2021-01-11  내비게이션 아이템 마우스커서 포인터추가
*/
.nav-item{
    cursor : pointer;
}

.dx-datagrid-header-panel {
    background-color: white;
}

.dx-popup-title.dx-toolbar {
    background: white;
}

.dx-overlay-content .dx-popup-content {
    background: white;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22  form입력 높이 수정 그리드의 데이터행과 높이일치시킴(height) =>  (기존)30px -> (변경)23px)
    */
.input-group-append {
    height: 23px !important;
    border-radius: 0.15rem;
    display: inline-flex;
    background: white;
}

.input-group-append > button {
    padding: 0 4px;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-19  margin 수정 =>  (기존)0px -> (변경)1px)
    */
.input-group {
    margin: 1px;
    padding: 0;
    display: inline-flex;
}

button > span {
    margin:0;
}

.footer {
    text-align: center;
    margin-bottom: 10px;
    color: #555555;
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/
}

#simple-treeview .dx-icon-search {
    display:none;
}

#simple-treeview .dx-texteditor-input-container {
    background: #042c4e;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22  form입력 높이 수정 그리드의 데이터행과 높이일치시킴(height) =>  (기존)30px -> (변경)23px)
    2020-10-27  border-color 설정 =>  (추가) #c4c6c8
    */
.btn-outline-secondary {
    height: 23px;
    padding: 0 10px;
    font-size: inherit;
    border-color: #c4c6c8;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22  form입력 높이 수정 그리드의 데이터행과 높이일치시킴(height) =>  (기존)30px -> (변경)23px)
    */
.btn-secondary {
    height: 23px;
    padding: 0 10px;
    font-size: inherit;
}

.divName > p{
    display:inline;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-11-10  background 색상이 비활성화 색상이라, cs 프로그램 처럼 분홍계열로 변경(#f5f7f9 => #f6c4db)
    */
.required {
    /*background: #f5f7f9;*/
    background:#f6c4db;
}

.mainTop {
    position: relative;
}

.mainTop > form {
    padding: unset;
}

.mainTop label{
    text-align:right;
}

/*.CRUD-btn {
    min-height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.CRUD-btn > div {
    height: 100%;
    position: absolute;
}*/

/*.CURD-btn > div > div {
    background-color: #f4f3ef !important;
    height: 100%;
}*/

.CRUD-btn .dx-toolbar-items-container{
    background-color: #F3F4EF;
}

.CRUD-btn > div > div > div > div {
    /*vertical-align:bottom;*/
}

star{
    color: #EF5448;
}

.dx-field {
    margin: 20px;
}

#loginFieldset > .divName {
    border-color: #dee2e6;
}

.display-flow-root {
    display: flow-root;
    margin-bottom:15px;
}

.div-content-wrapper {
    margin-top:10px;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-20  폼영역 title바(margin-bottom) 수정 =>  (기존)15px -> (변경)2px)
*/
.margin-bottom{
    margin-bottom:2px;
}

textarea.form-control {
    height: 3em;
    resize: none;
}
#itemGuideSignTable {
    margin-bottom: 0;
}

.display-contents {
    display: contents;
}

#itemProcessTreeList tbody{
    background: white;
}

.prescriptionFieldSet {
    padding: 0 10px 10px;
    margin: 0px 5px;
}

.prescriptionLegend{
    font-size:initial;
}

.display-flex{
    display:flex;
}

.display-flex-space-between {
    justify-content: space-between;
}

.margin-10{
    margin: 10px;
}

.divName-sm {
    font-size: initial;
    color: #2a68d4;
    padding-top: 15px;
    padding-left: 25px;
    background: #f5f7f9;
    border-bottom: solid 1px #dadad7;
}

#itemGuideSignTable td[aria-colindex = "4"][role="gridcell"] {
    padding: 0;
}

.sign-image {
    width: 210px;
    height: 70px;
    border: solid 1px #dadad7;
}

.company-full-image {
    width: 200px;
    height: 70px;
    border: solid 1px #dadad7;
}

.company-small-image {
    width: 80px;
    height: 70px;
    border: solid 1px #dadad7;
}

.align-center{
    text-align:center;
}

/*.CRUD-btn .dx-toolbar-after {
    height:auto;
}*/

.addBtn{
    width:100%;
    margin-bottom: 20px;
}

.removeBtn {
    width: 100%;
    margin-bottom: 20px;
}

.employeeGroupBtn{
    text-align:center;
    margin-top:80px;
}

#signatiryDiv .dx-toolbar .dx-toolbar-items-container {
    background: rgba( 255, 255, 255, 0 );
}

.display-inline{
    display: inline;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-0-10{
    margin: 0px 10px;
}

.equipment-image{
    width: 100%;
}

textarea { 
    vertical-align: top;
}

.license-CRUD-Btn {
    text-align: end;
    float: right;
}

.align-end {
    text-align: end;
    margin: 0px 20px 20px;
}

.align-start {
    text-align: start;
    margin: 0px 20px 20px;
}

.align-end-only {
    text-align: end;
}

.align-start-only {
    text-align: start;
}

.HideCell .dx-select-checkbox {
    display: none;
}

.margin-top{
    margin-top: 10px;
}

/*
    스크롤바 CSS
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.dx-searchbox.dx-editor-underlined .dx-texteditor-input {
    padding: 16px;
}

#simple-treeview input{
    color:white;
}



/*
    메뉴 트리 리스트 CSS
*/
#simple-treeview, #product-details {
    display: inline-block;
    float: left;
}

.hidden {
    visibility: hidden;
}

.dx-treeview-search {
    width: 250px;
}

.dx-treeview-item-without-checkbox .dx-state-focused > .dx-treeview-item {
    color: #f4f4f4 !important;
}

.dx-treeview-item .dx-state-hover {
    color: #f4f4f4 !important;
}

.dx-texteditor.dx-editor-underlined:after {
    border-bottom: 1px solid #f4f4f4;
}

#MaterialMaster2Toolbar{

}

#simple-treeview > div > div > div > div > ul > li > div {
    font-weight: 600;
}

#simple-treeview > div > div > div > div > ul > li > ul > li > ul > li > div {
    color: #f4f4f4a1;
}

/*
    사이드 바 CSS
*/
.drawer {
    height: 100%;
}

.dx-drawer-panel-content {
    overflow-y: scroll;
    background: #0f4c81 !important;
}

.dx-drawer-shrink .dx-drawer-panel-content {
    overflow-y: auto;
}

.dx-drawer-content {
    overflow-y: auto;
}

.dx-treeview-item {
    color: #f4f4f4;
}

.dx-treeview-toggle-item-visibility:before {
    color: #f4f4f4;
}
.dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
    color: #f4f4f4;
}

/*
    공지사항 CSS
*/
    #gridContainer {
    float: left;
}

@keyframes gridShrink {
    from {
        width: 100%
    }

    to {
        width: 50%
    }
}

#newsContent {
    float: right;
    margin-right: 10px;
}

@keyframes gridExpand {
    from {
        width: 0%;
        opacity: 0;
    }

    to {
        width: 48%;
        opacity: 1;
    }
}
#NewsFieldset {
    padding: 30px 20px;
    border: solid 1px lightgrey;
    border-radius: 4px;
}

/*
    header CSS
*/
.dx-toolbar {
    padding: 5px 10px;
}

/*
    로그인 폼 CSS
*/
/* 2020-11-12 로그인 화면 가운데 정렬
#loginFieldset {
    width: 30%;
}
*/

/*
    탭 메뉴
*/
.dx-tab div > span {
    margin-right: 5px;
}
#tabsContainer {
    display: block;
    background: #f4f3ef;
}
.dx-tab-selected{
    background:none;
}
.dx-button {
     border-radius: 0; 
     border-width: 0; 
     border-style: none; 
}
.edited {
    background: #ffd95cab !important;
}

#FocusedName span {
    margin-left: 15px;
    font-size: large;
    font-weight: bold;
}

.dx-tab {
    background-color: #ffffff;
}


/*
    토스트
*/
#toast {
    padding: 10px;
}

    #toast ul {
        text-align: center;
        list-style-type: none;
        margin: 20px 0;
        font-size: 0;
    }

        #toast ul li {
            display: inline-block;
            width: 160px;
            margin: 10px;
            font-size: 14px;
        }

            #toast ul li img {
                width: 100px;
            }

.dx-toast-content {
    min-width: 200px;
    max-width: 400px;
}

.dx-theme-ios7 #toast ul li {
    font-size: 16px;
}

.dx-theme-win10 #toast ul li {
    font-size: 15px;
}

/*
    WMS 창고 구역 셀 간격 조정
*/
.wms-wzc-li_1 {
    margin-right: -5%;
    vertical-align: bottom;
}

.wms-wzc-li_2 {
    margin-right: -6%;
    vertical-align: bottom;
}

.wms-wzc-li_3 {
    margin-left: -5%;
}

/* 소비자 불만처리 > 접수통계 차트 툴팁 CSS*/
.tooltip-header {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
}

.tooltip-body {
    width: 100px;
}

.tooltip-body .series-name {
    font-weight: normal;
    opacity: 0.6;
    display: inline-block;
    line-height: 1.5;
    padding-right: 10px;
    width: 70px;
}

.tooltip-body .value-text {
    display: inline-block;
    line-height: 1.5;
    width: 30px;
}

/*
    제제 이미지
*/
.material-image {
    width: 100%;
    height: 80px;
}

/*history
--------------------------------------------------
date        comment
--------------------------------------------------
2020-10-20  form입력란을 위한 input-group 추가 => div.box .input-group
*/
div .box .input-group {
    margin-left: -2px;
    margin-right: 0px;
    padding: 0;
    display: inline-flex;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-20  form입력란 input_wrapper label margin 지정 => label과 입력폼의 수직정렬 맞추기위함 (margin 0px 0px 0px)
    */
.input-wrapper label{
    margin : 0px 0px 0px;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-20  검색영역 란의 버튼은 28px로 고정한다. 필요에따라 추가정의가능
    */
.mainTop .btn, .mainTop .input-group-append {
    height: 28px !important;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22  mainTop 영역 하위에 있는 모든 font는 12px로 고정
    */
.mainTop * {
    font-size: 12px !important;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-22 mainTop 영역 하위의 label form-text padding 으로 vertical align=middle
    */
.mainTop .input-group-sm > label.form-text{
    padding-top:6px;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-10-27 mainTop 영역 하위의 p-1 class padding vertical align=middle 설정
    */
.mainTop .input-wrapper .p-1 {
    padding-top: 6px !important
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-11-02 Contents 영역 > divName class 두번째 div부터 margin top 자동 적용
    , 단, divName은 form으로 묶여야함
    */
.box > form:nth-of-type(n+2) .divName{
    margin-top: 2px;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-11-02 Contents 영역 > divName 공통으로 margin-bottom 적용
    */
.box .divName {
    margin-bottom:2px
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-11-04 Gird (treelist, datagrid) header align 설정
    text-align:center 설정
    */
.dx-treelist-container > .dx-treelist-headers > .dx-treelist-content > .dx-treelist-table .dx-row > td[role="columnheader"],
.dx-gridbase-container > .dx-datagrid-headers > .dx-datagrid-content > .dx-datagrid-table .dx-row > td[role="columnheader"] 
{
    text-align: center !important;
}

/*history
    --------------------------------------------------
    date        comment
    --------------------------------------------------
    2020-11-11 .required class background 색상지정 
    .required && readonly 일때 => required bg색상과 동일하게 지정
    */
input.required[readonly] {
    background: #f6c4db;
}



/*그리드의 lookup 컬럼 dropbox  넓이 컨텐츠에 맞에 조절*/
.dx-popup-content .dx-list-item {
    display: block;
    width: auto;
}

.dx-selectbox-popup-wrapper .dx-popup-normal {
    width: fit-content !important;
}